apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: 360477615168.dkr.ecr.us-west-1.amazonaws.com/backend:latest
        ports:
        - containerPort: 5000
        env:
        - name: DB_HOST
          value: mysql-0.mysql
        - name: DB_USER
          value: root
        - name: DB_PASSWORD
          value: rootpass
        - name: DB_NAME
          value: demo
---
apiVersion: v1
kind: Service
metadata:
  name: backend
spec:
  selector:
    app: backend
  ports:
  - port: 5000
    targetPort: 5000
